.logOut{
    background-color: #fff;
    width: 120px;
    height: 100px;
    border-radius: 7px;
    padding: 0.25rem;
    position: absolute;
    top: 3rem;
    right: 2.5rem;
    z-index: 10;
    border: 1.2px solid #212121;
}

.logOut .logOut-btn{
    border: none;
    background-color: #212121;
    font-size: 0.5em;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    margin-top: 0.5rem;
    padding: 6px 4px;
}




@media screen and (min-width:500px) {
    .logOut{
        background-color: #fff;
        width: 250px;
        height: 100px;
        border-radius: 10px;
        padding: 0.75rem;
        position: absolute;
        top: 3rem;
        right: 2.5rem;
        z-index: 10;
        border: 1.2px solid #212121;
    }
    
    .logOut .logOut-btn{
        border: none;
        background-color: #212121;
        font-size: 1em;
        font-weight: 500;
        color: #fff;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 10px 5px;
    }
    
}

